<ion-view view-title="Browse">
  <ion-content>
    <div class="list card" ng-repeat="feed in feeds">

      <div class="item item-avatar">
        <img ng-src="{{feed.user.photo}}">
        <h2>{{feed.user.name}}</h2>
        <p>{{feed.createdAt | date}}</p>
      </div>

      <div class="item item-body">
        <img class="full-image" ng-src="{{feed.image}}">
        <p>
          {{feed.content}}
        </p>
        <p>
          <a href="#" class="subdued">{{feed.like}} Like</a>
          <a href="#" class="subdued">{{feed.comment}} Comments</a>
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>

    </div>
  </ion-content>
</ion-view>
